.theme-light {
  --bg1: #FFFFFF;
  --bg2: #F5F7FB;
  --bg3: #E6EBF5;
  --bg4: #7269ef;
  --text1: #495057;
  --text2: #343a40;
  --text3: #fff;
}
.theme-dark {
  --bg1: #36414A;
  --bg2: #303841;
  --bg3: #262E35;
  --bg4: #7269ef;
  --text1: #e1e9f1;
  --text2: #343a40;
  --text3: #fff;
}